/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext); */

@media only screen {
    html * {
        font-family: 'Open Sans', Arial, sans-serif;
    }

    .top_row {
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }

    .serviciu_description p {
        margin-bottom: 0;
    }

    ul {
        margin-left: 30px;
    }

    .main_menu {
        margin-bottom: 10px;
        padding: 0;
    }

    /* Bubble */
    .heading_text_bubble {
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #05acb3;
        background-color: #05acb3;
        color: #FFFFFF;
        text-align: center;
    }

    .heading_text_bubble h2 {
        color: #FFFFFF;
    }

    .holder_bubble {
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 2px solid #05acb3;
        background-color: rgba(129, 130, 129, 0.100);
    }

    .main-content {
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .footer_div {
        border-top: 0.15em solid #05acb3;
        background-color: rgba(129, 130, 129, 0.1)
    }

    .contact_icon {
        padding-left: 5%;
    }

    .address_row,
    .phone_row,
    .email_row {
        margin-bottom: 10px !important;
    }

    .contact_text {
        padding-left: 2px;
    }

    .category_description {
        font-weight: bold;

        padding: 20px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 2px solid #05acb3;
        background-color: rgba(129, 130, 129, 0.100);
    }

    .newpage_title_under {
        font-weight: bold;
        padding: 10px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 2px solid #05acb3;
        background-color: rgba(129, 130, 129, 0.100);
    }

    .title_and_image img {
        width: 100%;
    }

    .single_item_holder {
        width: 100% !important;
    }

    /* Parteneri */
    .pharmec_parteneri {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* added the following to give the background color of the arrows as red for visibility, the default which can be found in the slick-theme.css was white */
    .slick-prev:before,
    .slick-next:before {
        color: #05acb3;
    }

    .slick-next {
        right: 3px;
    }

    .slick-prev {
        left: 3px;
    }

    .individual_partner_page {
        margin-bottom: 10px;
        margin-top: 10px;
        float: left !important;
        text-align: center;
    }

    /* NEWS */
    .news_description p {
        margin-bottom: 5px;
    }

    .individual_news {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }

    .news_banner_image img {
        width: 100% !important;
        max-height: 280px !important;
    }

    .news_banner_image {
        margin-bottom: 20px !important;
    }

    .newpage_head_row {
        margin-bottom: 20px !important;
    }

    .newpage_content_row {
        margin-bottom: 5px !important;
    }

    .login_button,
    .logout_button {
        margin-bottom: 2px;
    }

    /* VOTING MESSAGES */
    .books_error_message,
    .opinions_error_message {
        background-color: #e6c0c0;
        color: #c00;
        border-top: 3px solid #DE7A7B;
        border-bottom: 3px solid #DE7A7B;
        padding-left: 1em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .opinions_success_message,
    .books_success_message {
        background-color: #d6e6d6;
        color: #00cc01;
        border-top: 3px solid #81de88;
        border-bottom: 3px solid #7cde8c;
        padding-left: 1em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .books_success_message p,
    .books_error_message p{
        margin-top: 20px;
    }

    .book_details p{
        margin-bottom: 3px;
        font-size: 1.2em;
    }

    .book_details{
        margin-bottom: 10px;
    }

    .book_action_buttons{
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .individual_voting_button{
        width: 100%;
    }

    .individual_voting_div{
        padding: 0!important;
    }

    /* SEARCH BOX DIV */
    .search_box{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border: 2px solid #05acb3;
        background-color: rgba(129, 130, 129, 0.100);
        padding-top: 15px;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .books_content_holder{
        background-color: rgba(129, 130, 129, 0.100);
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .books_full_holder{
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .books_content_holder .headings div{
        border-bottom: 2px solid #05acb3;
        border-left: 2px solid #05acb3;
        border-right: 2px solid #05acb3;
    }

    .headings{
        padding: 0;
        word-wrap: break-word;
    }

    /*.books_results_holder div:not(.voting_button){*/
        /*border-bottom: 2px solid #05acb3;*/
        /*border-left: 2px solid #05acb3;*/
        /*border-right: 2px solid #05acb3;*/
    /*}*/

    .books_results_holder p,
    .book_link_holder,
    .voting_button input{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .books_results_holder p{
        margin-bottom: 0;
    }

    /* OPINIONS STYLING */
    .opinions_div{
        margin-top: 20px!important;
    }

    .opinions_holder{
        background-color: rgba(201, 200, 205, 0.22);
        padding-top: 10px!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .opinion_review{
        background-color: rgba(201, 200, 205, 0.22);
        padding-top: 10px!important;
    }

}

@media only screen and (min-width: 40.063em) {
    .main_menu {
        margin-bottom: 10px;
    }

    .main-content {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    /* Title And Category Stuff */
    .top_row img {
        width: 100%;
    }

    .top_row {
        margin-top: 1% !important;
        margin-bottom: 6% !important;
    }

    .category_title {
        position: absolute;
        width: 450px;
        height: 90px;
        bottom: 0;
        left: 2%;
        padding: 20px 20px 40px 20px;

        background-color: rgba(144, 144, 141, 0.8);
    }

    .category_title h2 {
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #FFFFFF;
    }

    .newpage_title {
        position: absolute;
        height: 90px;
        bottom: 0;
        left: 15px;
        padding: 20px 20px 40px 20px;

        background-color: rgba(144, 144, 141, 0.8);
    }

    .newpage_title h2 {
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #FFFFFF;
    }

    footer .left_column {
        padding-left: 35px;
    }

    footer h3 {
        font-weight: 700;
    }

    .contact_icon {
        padding-left: 5%;
    }

    .single_service_description h2 {
        margin-top: 30px;
    }

    .individual_news {
        margin-bottom: 3% !important;
        margin-top: 2% !important;
    }

    .book_content{
        padding-left: 20px;
    }

    .book_action_buttons{
        padding-left: 20px;
    }

    /*.main_menu{*/
        /*white-space: nowrap;*/
        /*overflow-x: hidden;*/
        /*-webkit-overflow-scrolling: touch;*/
        /*overflow-y: hidden;*/
        /*direction: ltr;*/
    /*}*/

    /*.main_menu{*/
        /*position: absolute; left: 0; top: 0;*/
    /*}*/

    /*#left_btn_div{*/
        /*position: relative;*/
        /*float: left;*/
        /*margin-top: -68.5px;*/
        /*z-index: 100000;*/
    /*}*/
    /**/
    /*#right_btn_div{*/
        /*position: relative;*/
        /*float: right;*/
        /*margin-top: -68.5px;*/
        /*z-index: 100000;*/
    /*}*/


    ::-webkit-scrollbar
    {
        height: 5px; /* for horizontal scrollbars */
    }

    ::-webkit-scrollbar-track
    {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb
    {
        background: rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (min-width: 64.063em) {
    .contact_icon {
        padding-left: 8%;
    }
}