<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="Header" name="header">
        <field name="header_image"
               type="media"
               directory="/"
               hide_none="1"
               label="Header Image"
               description="Imaginea din coltul stanga sus"
                />
    </fieldset>

    <fieldset
            name="permissions"
            description="JCONFIG_PERMISSIONS_DESC"
            label="JCONFIG_PERMISSIONS_LABEL">
        <field
                name="rules" type="rules" component="com_careers"
                class="inputbox" filter="rules" validate="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                section="component"/>
    </fieldset>
</config>