<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="Header" name="header">
        <field name="header_image"
               type="media"
               directory="/"
               hide_none="1"
               label="Header Image"
               description="Imaginea din coltul stanga sus"
                />
    </fieldset>

    <fieldset label="Footer" name="footer">
        <field
                name="footer_address"
                type="input"
                label="Adresa"
                description="Adresa din footer a sediului"
                required="true"
                default=""
                class="span8"
                />
        <field
                name="footer_phone"
                type="input"
                label="Telefon"
                description="Numarul de telefon din footer"
                required="true"
                default=""
                class="span8"
                />
        <field
                name="footer_email"
                type="input"
                label="E-mail"
                description="Adresa de email din footer"
                required="true"
                default=""
                class="span8"
                />
    </fieldset>

    <fieldset
            name="permissions"
            description="JCONFIG_PERMISSIONS_DESC"
            label="JCONFIG_PERMISSIONS_LABEL">
        <field
                name="rules" type="rules" component="com_careers"
                class="inputbox" filter="rules" validate="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                section="component"/>
    </fieldset>
</config>